In [1]:
from joker_simulation import Simulation
import sys
import pandas as pd
import pickle
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
sim = Simulation()
sim.run(1000, False)

In [3]:
df = pd.DataFrame()
df['place'], df['dealt'] ,df['wild'] = (sim.places), (sim.dealt), (sim.wild)
df['num_wild'], df['num_joks'], df['already_called'] = sim.num_wild, sim.num_joks, sim.already_called
df['taken'] = sim.taken
df

       place  dealt  wild  num_wild  num_joks  already_called  taken
0          2      1  True         0         0               1      0
1          3      1  True         0         1               2      1
2          4      1  True         1         0               3      0
3          1      1  True         0         0               0      0
4          1      2  True         0         0               0      1
...      ...    ...   ...       ...       ...             ...    ...
95995      3      9  True         3         1               9      4
95996      3      9  True         1         0              10      1
95997      4      9  True         4         1              19      5
95998      1      9  True         3         1               0      3
95999      2      9  True         1         0               6      0

[96000 rows x 7 columns]

In [5]:
df['dealt'] = (df.dealt - 1) / 8
df['wild'] = (df.wild).astype(int)
df['num_wild'] = df.num_wild / 9
df['num_joks'] = df.num_joks / 2
df['already_called'] = df.already_called / 27
df['taken'] = df.taken
df['place'] = (df.place - 1) / 4
df

       place  dealt  wild  num_wild  num_joks  already_called  taken
0       0.25  0.000     1  0.000000       0.0        0.037037      0
1       0.50  0.000     1  0.000000       0.5        0.074074      1
2       0.75  0.000     1  0.111111       0.0        0.111111      0
3       0.00  0.000     1  0.000000       0.0        0.000000      0
4       0.00  0.125     1  0.000000       0.0        0.000000      1
...      ...    ...   ...       ...       ...             ...    ...
95995   0.50  1.000     1  0.333333       0.5        0.333333      4
95996   0.50  1.000     1  0.111111       0.0        0.370370      1
95997   0.75  1.000     1  0.444444       0.5        0.703704      5
95998   0.00  1.000     1  0.333333       0.5        0.000000      3
95999   0.25  1.000     1  0.111111       0.0        0.222222      0

[96000 rows x 7 columns]

In [6]:
df.dealt.describe()

count    96000.000000
mean         0.166583
std          0.184886
min          0.000000
25%          0.000000
50%          0.111111
75%          0.259259
max          1.000000
Name: already_called, dtype: float64

In [14]:
X = np.asarray(df.iloc[:, :6]).reshape(-1 , 6)
y = np.asarray(df.iloc[:, 6])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .1, random_state = 0)

In [15]:
clf = KNeighborsClassifier(n_neighbors= 13)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.4657291666666667

In [16]:
scores = []
for i in range(1, 50):
    clf = KNeighborsClassifier(n_neighbors= i)
    clf.fit(X_train, y_train)
    scores.append(str(i) + " " + str(clf.score(X_test, y_test)))
# for score in scores: print(score)

1 0.39447916666666666
2 0.41802083333333334
3 0.42
4 0.4346875
5 0.4455208333333333
6 0.449375
7 0.45427083333333335
8 0.4579166666666667
9 0.4615625
10 0.4636458333333333
11 0.46125
12 0.4675
13 0.4657291666666667
14 0.4675
15 0.4703125
16 0.47041666666666665
17 0.4728125
18 0.4744791666666667
19 0.47479166666666667
20 0.4795833333333333
21 0.48322916666666665
22 0.48364583333333333
23 0.48385416666666664
24 0.48583333333333334
25 0.48520833333333335
26 0.48302083333333334
27 0.4870833333333333
28 0.4839583333333333
29 0.48895833333333333
30 0.4901041666666667
31 0.48895833333333333
32 0.4903125
33 0.49145833333333333
34 0.4925
35 0.4921875
36 0.491875
37 0.4922916666666667
38 0.4925
39 0.48854166666666665
40 0.4898958333333333
41 0.49083333333333334
42 0.493125
43 0.4903125
44 0.4866666666666667
45 0.4867708333333333
46 0.4871875
47 0.48802083333333335
48 0.48520833333333335
49 0.4909375

In [20]:
clf.predict([[.5,1,1,.2222222, .5, .333333]])

array([2])

In [22]:
filename = 'finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))

2